.AppLayout {
	min-height: calc(100vh - 65px);
	background: #fff;
}

.AppHeader {
	height: 65px;
	background: #fff;
	padding: 0;
	padding-left: 20px;
	font-weight: 500;
	font-size: 20pt;
	color: dodgerblue;
}

.AppContent {
	margin: 12px 12px 0 12px;
	padding: 20px;
	background: #fff;
	min-height: 280px;
}

.AppFooter {
	text-align: center;
	padding: 5px;
}

.MenuIcon {
	position: relative;
	bottom: 3px;
}